body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

.title {
    color: #222;
    font-size: 2.5rem;
    margin-top: 20px;
}

span {
    color: #f06292;
}

.description {
    font-size: 1.2rem;
    margin: 20px 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

input[type="file"] {
    margin: 20px 0;
}

button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

button:hover {
    background-color: #f06292;
}

#result {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    margin-top: 50px;
    font-size: 1rem;
    color: #888;}

footer p {margin-bottom: 10px;}
